<section class="contact-banner">
  <h1 class="contact-title">Une question ? Un besoin spécifique ?</h1>
  <p class="contact-subtitle">Notre équipe est à votre écoute pour répondre à toutes vos demandes concernant MushBlue ou notre démarche.</p>
</section>


<section class="contact-container">

  <form class="contact-form">
    <label>
      Name
      <input type="text" name="name" placeholder="Value" />
    </label>
    <label>
      Surname
      <input type="text" name="surname" placeholder="Value" />
    </label>
    <label>
      Email
      <input type="email" name="email" placeholder="Value" />
    </label>
    <label>
      Message
      <textarea name="message" placeholder="Value"></textarea>
    </label>
    <button type="submit">Submit</button>
  </form>
</section>
